<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="{{ site.baseurl }}{% link index.md %}"><span class="emoji">♠</span> Burton 4 Players</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-items">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-items">
    <ul class="navbar-nav">
      {%- for nav_page in site.pages -%}
      {%- if site.data.site.pages_in_nav contains nav_page.path -%}
        <li class="navbar-item {% if nav_page.url == page.url %} active {% endif %}">
          <a href="{{ nav_page.url | relative_url }}" class="nav-link">{{ nav_page.title }}</a>
        </li>
      {%- endif -%}
      <li class="navbar-item">
        <a href="https://sites.google.com/view/b4gra" class="nav-link" target="_blank">GRA Website</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {% comment %}
  {% endcomment %}
</nav>
